body {
    display: block;
    margin: 8px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    padding-top: 30px;
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
}

a:link, a:visited {
    text-decoration: none;
    color: #CBCBCB;
}

a:hover {
    color: rgb(80, 132, 245);
}

.l1 a:link, .l1 a:visited {
    background-image: url(./images/1.png);
}

.l1 a:hover {
    background-image: url(./images/1-h.png);
}

.l2 a:link, .l1 a:visited {
    background-image: url(./images/2.png);
}

.l2 a:hover {
    background-image: url(./images/2-h.png);
}

.l3 a:link, .l1 a:visited {
    background-image: url(./images/3.png);
}

.l3 a:hover {
    background-image: url(./images/3-h.png);
}

.l4 a:link, .l1 a:visited {
    background-image: url(./images/4.png);
}

.l4 a:hover {
    background-image: url(./images/4-h.png);
}

.l5 a:link, .l1 a:visited {
    background-image: url(./images/5.png);
}

.l5 a:hover {
    background-image: url(./images/5-h.png);
}