body {
    margin: 8px;
}

#first-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#first-menu ul {
    list-style-type: disc;
}

#first-menu li {
    padding-left: 10px;
    color: blue;
}

#first-menu a:link,  #first-menu a:visited{
    color: rgb(81, 7, 253);
    text-decoration: none;
}

#first-menu a:hover {
    color: red;
    text-decoration: underline;
}

#second-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#second-menu ul{
margin: 5px;
padding: 0px;
}

#second-menu li {
    width: 200px;
    border: 1px solid black;
    margin: 5px;
    padding: 0px 0px;
    list-style-type: none;
    text-align: -webkit-match-parent;
    display: list-item;
    line-height: 30px;
}

#second-menu a {
    display: block;
    font-weight: bold;
    padding: 10px, 100%, 10px, 5px;
}

#second-menu a:link,  #second-menu a:visited{
    padding: 0px 5px;
    color: white;
    text-decoration: none;
    background-color: rgb(39, 38, 38);
}

#second-menu a:hover {
    padding: 0px 5px;
    color: black;
    font-weight: bold;
    background-color: white;
}