* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    background-color: #344a72;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.content {
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;
}

.input-form {
    background-color: #fff;
    padding: 15px 25px;
}

.top h1 {
    text-align: center;
}